.order {
    list-style: none;
    background-color: #1C1C21;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.orderHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orderContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orderTotal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orderIngredients {
    display: flex;
    flex-direction: row;
    padding: 0;
    position: relative;
    flex-wrap: wrap;
}

/* .orderIngredientElement {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
    list-style: none;
} */

.orderIngredientImage {
    width: 64px;
    height: 64px;
    object-fit: cover;
    position: relative;
}

.orderIngredientCounter {
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 19px;
    left: 19px;
}

.orderIngredientElement {
    flex-grow: 1;
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    position: relative;

    border: double 2px transparent;
    background-image: linear-gradient(rgba(19, 19, 22, 1), rgba(19, 19, 22, 1)), linear-gradient(63.18deg, #801ab3, #4c4cff);
    border-image-slice: 20;
    border-radius: 50%;
    background-clip: content-box, border-box;
}

/* .orderIngredientElement:before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--c, linear-gradient(63.18deg, #801ab3, #4c4cff));
    padding: var(--b);
    border-radius: 50%;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
} */