.overlay {
    background-color: #000000;
    opacity: .6;
    overflow: hidden;
    z-index: 7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
    }
}