.order {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    /* width: 100%; */
    flex-wrap: wrap;
    position: relative;
    z-index: 8;
    margin: 0 auto;
    width: 720px;
}

.order__closeButton {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 40px;
    top: 60px;
    transition: all 0.3s;
}

.order__closeButton:hover {
    opacity: 0.6;
    transition: all 0.3s;
    cursor: pointer;
}


.orderHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredientImageBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.ingredientTotal, .orderTotal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orderIngredients {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 32px 0 0;
    position: relative;
    max-height: 312px;
    overflow-y: scroll;
}

.ingredientElement {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* gap: 16px; */
    align-items: center;
    border-radius: 50%;
    /* width: 64px; */
    height: 64px;
    object-fit: cover;
    list-style: none;

}

.ingredientImage {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border: double 2px transparent;
    background-image: linear-gradient(rgba(19, 19, 22, 1), rgba(19, 19, 22, 1)), linear-gradient(63.18deg, #801ab3, #4c4cff);
    border-image-slice: 20;
    border-radius: 50%;
    background-clip: content-box, border-box;
}

.ingredientName {
    width: auto;
}

.orderIngredients::-webkit-scrollbar {
    width: 8px;
    /* ширина scrollbar */
}

.orderIngredients::-webkit-scrollbar-track {
    background: #2F2F37;
    /* цвет дорожки */
}

.orderIngredients::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    /* цвет плашки */
}