.profileData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 480px;
}

.profileButtons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.statusChange {
    display: flex;
    justify-content: end;
}