.body {
  background-color: #131316;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 8px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2F2F37;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  /* цвет плашки */
}