.ingredient {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: end;
    margin-right: 8px;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
        transition: all 0.3s;
    }
}