.feed {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.feedContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.ordersFeed {
    max-width: 600px;
}