.modal {
    border-radius: 40px;
    background: #1C1C21;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 720px;
    transition: all 0.3s;
}

.modal__closeButton {
    position: absolute;
    top: 60px;
    right: 40px;
    z-index: 2;
}

.modal__closeButton:hover {
    opacity: 0.3;
    transition: all 0.3s;
    cursor: pointer;
}