.modal {
    border-radius: 40px;
    background: #1C1C21;
    z-index: 8;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 720px;
    transition: all 0.3s;

    &__button_type_close {
        position: absolute;
        top: 60px;
        right: 40px;
        z-index: 9;

        &:hover {
            opacity: 0.3;
            transition: all 0.3s;
            cursor: pointer;
        }
    }
}