.list {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    gap: 16px;
    height: 68vh;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    width: 8px;
    /* ширина scrollbar */
}

.list::-webkit-scrollbar-track {
    background: #2F2F37;
    /* цвет дорожки */
}

.list::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    /* цвет плашки */
}

.order__link {
    list-style-type: none;
    text-decoration: none;
    color: #F2F2F3;
    transition: all 0.3s;
}

.order__link:hover {
    opacity: 0.8;
    transition: all 0.3s;
}