.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.ingredient__header {
    display: flex;
    width: 640px;
    justify-content: space-between;
    align-items: center;
}

.ingredient__title {
    max-width: 520px;
    margin: 0 auto;
}

.ingredient__itemValue {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
}

.ingredient__closeButton {
    background-color: transparent;
    border: none;
    transition: all 0.3s;
}

.ingredient__closeButton:hover {
    opacity: 0.6;
    transition: all 0.3s;
    cursor: pointer;
}

.ingredient__listItem {
    display: flex;
    gap: 20px;
}

.ingredient__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    color: #8585AD;
    list-style: none;
    width: 120px;
}