* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Iceland';
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/Iceland-Regular.woff") format("woff");
} 