.not-found {
    min-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
    }

    &__link {
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            opacity: 0.7;
            transition: all 0.3s;
        }
    }
}